<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <div th:replace="fragments/header :: meta"/>

    <title>在线咨询 - 萝卜丝</title>

    <link rel="stylesheet" href="./css/frame.css">

</head>
<body>

    <div th:replace="fragments/header :: navbar"/>

    <div id="panelHolder">

        <iframe id="iframePanel" class="fusion" src="/kefuwindow"></iframe>
    </div>

    <div th:replace="fragments/footer :: footer-div"/>

</body>
</html>