<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polling</title>
</head>
<body>

Polling

<script>
    // setInterval(function() {
    //     $.get('/get/data-list', function(data, status) {
    //         console.log(data)
    //     })
    // }, 5000)

    // function poll() {
    //     setTimeout(function() {
    //         $.get('/get/data-list', function(data, status) {
    //             console.log(data)
    //             poll()
    //         })
    //     }, 5000)
    // }
</script>

</body>
</html>