<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <div th:replace="fragments/header :: meta"/>

    <title>在线咨询</title>

    <link rel="stylesheet" href="./css/window.css">
</head>

<body>

    <div id="alert" class="hide">
        <div id="alertInside"></div>
        <a id="alertHide"><i class="icon icon-times"></i></a>
    </div>
    <section id="pageChat">
        <div id="evaluationHolder"></div>
        <div id="evaluationMask"></div>
        <header class="header">
            <div id="headLeft" class="pull-left">
                <p style="margin-left: 10px;">
                    <!--[[${#httpServletRequest.remoteUser}]]-->
                </p>
            </div>
            <div id="headRight" class="pull-right">
                <a id="btnCallAgent">转人工</a> <a id="btnRing"><i id="iconRing" class="icon"></i></a>
            </div>
            <div class="clearfix"></div>
        </header>
        <div class="body">
            <div class="body-left">
                <div id="msgWrapper">
                    <div id="msgHolder"></div>
                </div>
                <div class="footer">
                    <div id="chatHasEnd" class="hide"></div>
                    <div id="blacklistTips" class="hide"></div>
                    <div class="text-holder"><textarea id="textarea" placeholder="请输入"></textarea></div>
                    <div class="feature-holder">
                        <div id="featureBtns" class="feature-left"></div>
                        <div class="feature-right"><input id="btnSend" type="button" value="发送"></div>
                        <div id="emojiHolder"></div>
                    </div>
                </div>
            </div>
            <div class="body-right">
                <div id="profile"></div>
                <div name="supportHolder" class="support-holder"></div>
            </div>
        </div>
        <div id="audioHolder" class="audio-holder"></div>
        <div id="unableService" class="hide"></div>
        <div id="queueingTips" class="hide"></div>
    </section>
    <section id="pageTicket">
        <header class="header">
            <div class="pull-left">
                <div class="title">给我们留言</div>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </header>
        <div class="body">
            <div id="ticketForm"></div>
            <div id="ticketSuccess">
                <h2>留言成功</h2>
                <p>我们会尽快联系你</p><a id="ticketAgain">再次留言</a>
            </div>
        </div>
        <footer class="footer">
            <div name="supportHolder" class="support-holder"></div>
        </footer>
    </section>
    <section id="pageSurvey">
        <header class="header">
            <div class="pull-left">
                <div id="surveyTitle" class="title">询前表单</div>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </header>
        <div id="surveyBody" class="body"></div>
        <footer class="footer">
            <div name="supportHolder" class="support-holder"></div>
        </footer>
    </section>

</body>
</html>