<!DOCTYPE html>
<html>
<head>
    <title>CometD Demo</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <style>
        body {
            font-family: "Varela Round", sans-serif;
            color: #333;
            text-align: center;
            width: 40em;
        }
        a:hover, a:visited {
            color: #333;
        }
        a:active {
            color: #E52;
        }
        th {
            font-size: 120%;
        }
    </style>
</head>

<body>

<table width="100%">
    <tr>
        <td><a href="/chat">Chat</a></td>
        <td><a href="/reload">Reload</a></td>
        <td><a href="/echo">Echo</a></td>
    </tr>
</table>

</body>

</html>
