<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="email=no">
    <title>IM - 萝卜丝</title>
    <link rel="stylesheet" href="./css/frame.css">
</head>

<body>
    <div id="panelHolder">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="退出登录"/>
        </form>
        <iframe id="iframePanel" class="fusion" src="/window"></iframe>
    </div>
</body>

</html>