<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

    <div th:fragment="footer-div">
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    <a href="http://www.xiaper.io" target="_blank">虾婆-开源即时通讯解决方案</a>
                    <!--<a href="https://www.bytedesk.com" target="_blank">萝卜丝-让客户服务更加智能</a>-->
                </p>
            </div>
        </footer>

        <script src="/js/vendor/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/vendor/bootstrap/3.3.7/bootstrap.min.js"></script>
    </div>

</body>
</html>
