<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>

    <div th:fragment="header-meta">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="renderer" content="webkit">
        <meta name="keywords" content="ByteDesk.com" />
        <meta name="description" content="ByteDesk.com" />
        <meta name="author" content="ByteDesk.com">
        <link rel="icon" href="/favicon.ico">
    </div>

</head>

<body>

    <div th:fragment="header-sample">


    </div>

</body>
</html>